<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/ability.css">
    <title>MyDex - Moves</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand text-bold">
            <span class="icon"></span>
            <h1 class="align-center mleft">MYDEX</h1>
        </div>
        <ul class="navigation">
            <li><a class="brand-not-active" href="home.html">HOME</a></li>
            <li><a class="brand-not-active" href="pokedex.html">POKEDEX</a></li>
            <li><a class="brand-active" href="ability.html">ABILITY</a></li>
            <li><a class="brand-not-active" href="moves.html">MOVES</a></li>
        </ul>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="container">
        <div class="title">
            <h2>ABILITY</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ability Name</th>
                    <th>Description</th>
                    <th>Generation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-header="Ability Name" >Adaptability</td>
                    <td data-header="Description" >Powers up moves of the same type as the Pokémon.</td>
                    <td data-header="Generation" >IV</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Aerilate</td>
                    <td data-header="Description" >Normal-type moves become Flying-type moves. The power of those moves is boosted a little.</td>
                    <td data-header="Generation" >VI</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Aftermath</td>
                    <td data-header="Description" >Damages the attacker if it contacts the Pokémon with a finishing hit.</td>
                    <td data-header="Generation" >IV</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Air Lock</td>
                    <td data-header="Description" >Eliminates the effects of weather.</td>
                    <td data-header="Generation" >III</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Analytic</td>
                    <td data-header="Description" >Boosts move power when the Pokémon moves last.</td>
                    <td data-header="Generation" >V</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Anger Point</td>
                    <td data-header="Description" >The Pokémon is angered when it takes a critical hit, and that maxes its Attack stat.</td>
                    <td data-header="Generation" >IV</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Anticipation</td>
                    <td data-header="Description" >The Pokémon can sense an opposing Pokémon's dangerous moves.</td>
                    <td data-header="Generation" >IV</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Arena Trap</td>
                    <td data-header="Description" >Prevents opposing Pokémon from fleeing.</td>
                    <td data-header="Generation" >III</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Aroma Veil</td>
                    <td data-header="Description" >Protects itself and its allies from attacks that limit their move choices.</td>
                    <td data-header="Generation" >VI</td>
                </tr>
                <tr>
                    <td data-header="Ability Name" >Aura Break</td>
                    <td data-header="Description" >The effects of "Aura" Abilities are reversed to lower the power of affected moves.</td>
                    <td data-header="Generation" >VI</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer class="footer">
        <a class='bx bxl-facebook-square bx-sm' href="https://www.facebook.com/Pokemon/"></a>
        <a class='bx bxl-instagram-alt bx-sm' href="https://www.instagram.com/Pokemon/"></a>
        <a class='bx bxl-twitter bx-sm' href="https://www.twitter.com/Pokemon/"></a>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>