<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>MyDex - Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand text-bold">
            <span class="icon"></span>
            <h1 class="align-center mleft">MYDEX</h1>
        </div>
        <ul class="navigation">
            <li><a class="brand-active" href="home.html">HOME</a></li>
            <li><a class="brand-not-active" href="pokedex.html">POKEDEX</a></li>
            <li><a class="brand-not-active" href="ability.html">ABILITY</a></li>
            <li><a class="brand-not-active" href="moves.html">MOVES</a></li>
        </ul>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="full-container">
        <div class="content">
            <img class="content-image" src="../images/pikachu.png">
            <div class="content-text">
                <h1 class="text-bold">
                    SEARCH YOUR FAVORITE
                </h1>
                <h1 class="text-bolder">
                    POKÉMON
                </h1>
                <h1 class="text-bold">
                    HERE
                </h1>
                <button id="btnGo" class="content-button text-bold" type="button">GO!</button>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a class='bx bxl-facebook-square bx-sm' href="https://www.facebook.com/Pokemon/"></a>
        <a class='bx bxl-instagram-alt bx-sm' href="https://www.instagram.com/Pokemon/"></a>
        <a class='bx bxl-twitter bx-sm' href="https://www.twitter.com/Pokemon/"></a>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>