<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/moves.css">
    <title>MyDex - Moves</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand text-bold">
            <span class="icon"></span>
            <h1 class="align-center mleft">MYDEX</h1>
        </div>
        <ul class="navigation">
            <li><a class="brand-not-active" href="home.html">HOME</a></li>
            <li><a class="brand-not-active" href="pokedex.html">POKEDEX</a></li>
            <li><a class="brand-not-active" href="#">ABILITY</a></li>
            <li><a class="brand-active" href="moves.html">MOVES</a></li>
        </ul>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="container">
        <div class="title">
            <h2>MOVES</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Move Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>PP</th>
                    <th>Power</th>
                    <th>Accuracy</th>
                    <th>Generation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-header="Move Name" >Pound</td>
                    <td data-header="Type" >Normal</td>
                    <td data-header="Category" >Physical</td>
                    <td data-header="PP" >35</td>
                    <td data-header="Power" >40</td>
                    <td data-header="Accuracy" >100%</td>
                    <td data-header="Generation" >I</td>
                </tr>
                <tr>
                    <td data-header="Move Name" >Karate Chop</td>
                    <td data-header="Type" >Fighting</td>
                    <td data-header="Category" >Physical</td>
                    <td data-header="PP" >25</td>
                    <td data-header="Power" >50</td>
                    <td data-header="Accuracy" >100%</td>
                    <td data-header="Generation">I</td>
                </tr>
                <tr>
                    <td data-header="Move Name" >Sand Attack</td>
                    <td data-header="Type" >Ground</td>
                    <td data-header="Category" >Status</td>
                    <td data-header="PP" >15</td>
                    <td data-header="Power" >-</td>
                    <td data-header="Accuracy" >100%</td>
                    <td data-header="Generation">I</td>
                </tr>
                <tr>
                    <td data-header="Move Name" >Ember</td>
                    <td data-header="Type" >Fire</td>
                    <td data-header="Category" >Special</td>
                    <td data-header="PP" >25</td>
                    <td data-header="Power" >40</td>
                    <td data-header="Accuracy" >100%</td>
                    <td data-header="Generation">I</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer class="footer">
        <i class='bx bxl-facebook-square bx-sm'></i>
        <i class='bx bxl-instagram-alt bx-sm' ></i>
        <i class='bx bxl-linkedin-square bx-sm' ></i>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>