<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pokedex.css">
    <title>MyDex - Pokedex</title>
</head>

<body>
    <nav class="navbar">
        <div class="brand">
            <span class="icon"></span>
            <h1 class="text-center-v mleft">MYDEX</h1>
        </div>
        <ul class="navigation">
            <li><a class="brand-not-active" href="home.html">HOME</a></li>
            <li><a class="brand-active" href="pokedex.html">POKEDEX</a></li>
            <li><a class="brand-not-active" href="#">ABILITY</a></li>
            <li><a class="brand-not-active" href="#">MOVES</a></li>
        </ul>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="full-container">
        <div class="content">
            <div class="content-header-box">
                <p class="content-header-text">POKEDEX</p>
            </div>
            <div class="content-body-row">
                <div>
                    <ul class="container">
                        <li>
                            <div class="pokedex-char" style="margin-left: 0%;"><img class="pokedex-image" src="../images/bulbasaur.png">Bulbasaur</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/ivysaur.png" style="width: 78%">Ivysaur</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/venusaur.png" style="width: 97%">Venusaur</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/charmander.png" style="width: 75%">Charmander</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/charmeleon.png" style="width: 75%">Charmelon</div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="container">
                        <li>
                            <div class="pokedex-char" style="margin-left: 0%;"><img class="pokedex-image" src="../images/charizard.png" style="margin-bottom: 1.5rem">Charizad</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/squirtle.png" style="width: 71%">Squirtle</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/wartortle.png" style="width: 70%">Wartortle</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/blastoise.png" style="width: 71%">Blastoise</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/caterpie.png" style="width: 73%">Caterpie</div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="container">
                        <li>
                            <div class="pokedex-char" style="margin-left: 0%;"><img class="pokedex-image" src="../images/metapod.png" style="width: 60%;">Metapod</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/butterfree.png">Butterfree</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/weedle.png" style="width: 56%"><p>Weedle</p></div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/kakuna.png" style="width: 47%"><p>Kakuna</p></div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/beedrill.png" style="width: 74%">Beedril</div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="container">
                        <li>
                            <div class="pokedex-char" style="margin-left: 0%;"><img class="pokedex-image" src="../images/pidgey.png" style="width: 67%">Pidgey</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/pidgeotto.png" style="width: 72%">Pidgeotto</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/pidgeot.png" style="width: 67%">Pidgeot</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/rattata.png">Rattata</div>
                            <div class="pokedex-char"><img class="pokedex-image" src="../images/raticate.png" style="width: 71%">Raticate</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
