<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pokedex.css">
    <title>MyDex - Pokedex</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">
            <span class="icon"></span>
            <h1 class="align-center mleft">MYDEX</h1>
        </div>
        <ul class="navigation">
            <li><a class="brand-not-active" href="home.html">HOME</a></li>
            <li><a class="brand-active" href="pokedex.html">POKEDEX</a></li>
            <li><a class="brand-not-active" href="ability.html">ABILITY</a></li>
            <li><a class="brand-not-active" href="moves.html">MOVES</a></li>
        </ul>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="container">
        <div class="title">
            <h2>POKÉDEX</h2>
        </div>
        <div class="content text-bolder">
            <div class="pokedex-item">
                <img class="item-image" src="../images/bulbasaur.png">
                <span>Bulbasaur</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/ivysaur.png">
                <span>Ivysaur</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/venusaur.png">
                <span>Venusaur</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/charmander.png">
                <span>Charmander</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/charmeleon.png">
                <span>Charmeleon</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/charizard.png">
                <span>Charizard</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/squirtle.png">
                <span>Squirtle</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/wartortle.png">
                <span>Wartortle</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/blastoise.png">
                <span>Blastoise</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/caterpie.png">
                <span>Caterpie</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/metapod.png">
                <span>Metapod</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/butterfree.png">
                <span>Butterfree</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/weedle.png">
                <span>Weedle</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/kakuna.png">
                <span>Kakuna</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/beedrill.png">
                <span>Beedril</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/pidgey.png">
                <span>Pidgey</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/pidgeotto.png">
                <span>Pidgeotto</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/pidgeot.png">
                <span>Pidgeot</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/rattata.png">
                <span>Rattata</span>
            </div>
            <div class="pokedex-item">
                <img class="item-image" src="../images/raticate.png">
                <span>Raticate</span>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a class='bx bxl-facebook-square bx-sm' href="https://www.facebook.com/Pokemon/"></a>
        <a class='bx bxl-instagram-alt bx-sm' href="https://www.instagram.com/Pokemon/"></a>
        <a class='bx bxl-twitter bx-sm' href="https://www.twitter.com/Pokemon/"></a>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>
